.animeInfo {
    padding: 80px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
        h2 {
            font-size: 5rem;
        }
        h3 {
            text-transform: uppercase;
            font-size: 2.4rem;
        }
        p {
            margin-top: 20px;
            letter-spacing: 0.7px;
            line-height: 30px;
        }
        button {
                border: 0;
                padding: 0;
                font-family: 'Source Sans Pro', sans-serif;
                text-transform: uppercase;
                margin-top: 30px;
            }
        .takeQuiz {
            cursor: pointer;
            font-size: 1.2rem;
            color: $secondaryTextColor;
            font-weight: 400;
            width: 45%;
            background-color: $primaryTextColor;
            padding: 10px 5px;
            border-radius: 12px;
        }
}