.quiz .wrapper {
    position: relative;
}

.quiz {
    background-color: $secondaryColor;
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-weight: 600;
        }
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
        .questionImage, 
        .questionBox {
            flex: 1 0 400px;
            padding-right: 50px;
        }
}

.questionImage img {
    width: 100%;
    display: block;
    border-radius: 15px;
    transition: 0.5s all ease;
}

.questionImage {
    max-width: 60%;
    filter: brightness(90%);
    transition: 0.5s all ease;
}

.questionImage:hover {
    filter: brightness(105%);
}

.questionImage img:hover {
    box-shadow: 5px 6px 0 $secondaryColor, 10px 12px 0 $secondaryTextColor;
}


.optionContainer {
    margin-top: 10px;
}

input[type="radio"] {
    visibility: visible !important;
    opacity: 0 !important;
    margin-left: -15px;
}

input[type="radio"]:focus + label {
    padding: 10px;
    border: 1px solid $primaryTextColor;
}

input[type="radio"] + label::before {
    font-family: FontAwesome;
    display: inline-block;
    font-weight: 900;
    font-size: 1rem;
    margin-right: 10px;
    content: "\f0c8";
    color: $labelColor;
    transition: all 0.5s ease;
}


input[type="radio"]:hover + label::before,
label:hover {
    color: lighten($primaryTextColor, 10);
}

input[type="radio"]:checked + label::before,
input[type="radio"]:checked + label {
    color: $primaryTextColor;
    content: "\f14a";
}

input[type="radio"]:checked + label {
    background-color: $headerColor;
    color: $primaryTextColor;
    padding: 5px 3px;
    box-shadow: 5px 5px 0 $secondaryTextColor, 10px 10px 0 $secondaryColor;
    font-size: 10rem;
}

.submitOptionButton {
    display: inline-block;
    margin-top: 25px;
}

.nextQuestionBtn,
.takeToResultBtn {
    @include mainButton; 
}

input[type=submit]:hover {
    font-size: 1.8rem;
}

input[type=submit]:disabled {
    color: $primaryTextColor;
    background-color: $secondaryTextColor;
    opacity: 50%;
    cursor: auto;
}

.seeResultsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.takeToResultBtn {
    position: relative;
    top: 0px;
    border-radius: 15px;
    background-color: $secondaryTextColor;
    color: $primaryTextColor;
    font-size: 3.5rem;
    margin: 0;
    transition: all 0.3s ease;
    box-shadow: 0px 7px 0 $headerColor;
}

.takeToResultBtn:hover {
    font-size: 4rem;
    color: $secondaryColor;
    background-color: $headerColor;
    box-shadow: 0px 10px 0 $secondaryTextColor;
}

.takeToResultBtn:active {
    top: 10px;
    box-shadow: 0px 5px 0 $secondaryTextColor;
}

.takeToResultBtn:disabled {
    opacity: 50%;
    box-shadow: none;
    cursor: auto;
}

.seeResultsButton .fa-star {
    @include stars;
}

.warning,
.resultSectionWarning {
    @include warningStyle; 
}

.resultSectionWarning {
    bottom: 15px;
}