.quiz .wrapper {
    position: relative;
}

.quiz {
    background-color: $tertiaryColor;
        h2 {
            font-size: 1.8rem;
        }
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
        .questionImage, 
        .questionBox {
            flex: 1 0 400px;
            padding-right: 50px;
        }
}

.questionImage img {
    width: 100%;
    display: block;
    border-radius: 15px;
    filter: brightness(85%);
}

.questionImage {
    max-width: 60%;
}

.optionContainer {
    margin-top: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label::before {
    font-family: FontAwesome;
    display: inline-block;
    font-weight: 900;
    font-size: 1rem;
    margin-right: 10px;
    content: "\f0c8";
    color: $headerColor;
    transition: all 0.5s ease;
}


input[type="radio"]:hover + label::before,
label:hover {
    color: lighten($primaryTextColor, 20);
}

input[type="radio"]:checked + label::before,
input[type="radio"]:checked + label {
    color: $primaryTextColor;
    content: "\f14a";
}

input[type="radio"]:checked + label {
    background-color: $headerColor;
    color: $primaryTextColor;
    padding: 5px 3px;
    box-shadow: 5px 5px 0 $secondaryTextColor, 10px 10px 0 $secondaryColor;
}

.nextQuestionBtn,
.takeToResultBtn {
    @include mainButton; 
}

input[type=submit]:hover {
    font-size: 1.8rem;
}

input[type=submit]:disabled {
    color: $primaryTextColor;
    font-size: 1.5rem;
    background-color: $secondaryTextColor;
    opacity: 50%;
    cursor: auto;
}

.seeResultsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.takeToResultBtn {
    position: relative;
    top: 0px;
    border-radius: 15px;
    background-color: $secondaryTextColor;
    color: $primaryTextColor;
    font-size: 4rem;
    margin: 0;
    transition: all 0.3s ease;
    box-shadow: 0px 7px 0 $headerColor;
}

.takeToResultBtn:hover {
    font-size: 4.5rem;
    color: $secondaryColor;
    background-color: $headerColor;
    box-shadow: 0px 10px 0 $secondaryTextColor;
}

.takeToResultBtn:active {
    top: 10px;
    box-shadow: 0px 5px 0 $secondaryTextColor;
}

.takeToResultBtn:disabled {
    opacity: 50%;
    box-shadow: none;
    cursor: auto;
}

.warning,
.resultSectionWarning {
    @include warningStyle; 
}
