.result {
    background-color: $primaryTextColor;
    h2 {
        color: $secondaryTextColor;
        font-size: 2.3rem;
        
    }
    p {
        letter-spacing: 0.7px;
        line-height: 30px;
        color: $secondaryTextColor;
    }
}

.additionalEffect {
    display: inline-block;
    h2 {
        font-size: 3.5rem;
        margin-bottom: 25px;
    }    
    .fa-star {
        @include stars;
        text-shadow: none;
        -webkit-text-stroke: 0px;
        font-size: 3.8rem;
        margin: 0;
    }   
}

.resultBox {
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.resultTitle h2 {
    margin-bottom: 25px;
    font-family: 'Source Sans Pro', sans-serif;
        .highlightText {
            font-family: 'Playfair Display', serif;
            color: $tertiaryColor;
        }
}

.resultContent {
    text-align: center;
}

.resultText {
    p {
        margin-top: 25px;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        color: $tertiaryColor;
        text-transform: uppercase;
        transition: 0.5s all ease;
        font-size: 1.2rem;
    }
    
    .refreshPage {
        position: relative;
        top: 0px;
        margin: 15px 0px;
        font-size: 1.2rem;
        font-family: 'Playfair Display', serif;
        padding: 15px 10px;
        background-color: $tertiaryColor;
        color: $primaryTextColor;
        transition: 0.3s all ease;
        box-shadow: 0px 6px 0 $secondaryColor;
    }

    .notMineArt {
        font-size: 0.8rem;
        color: $secondaryTextColor;
        line-height: 20px;
        text-transform: uppercase;
        span {
            font-style: italic;
        }
    }
}

.resultText a:hover {
    color: $stars;
    font-size: 1.5rem;
}

.refreshPage:hover {
    font-size: 1.4rem;
}

.refreshPage:active {
    top: 10px;
    box-shadow: 0px 4px 0 $secondaryColor;
}

.resultButtons {
    margin-top: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result img {
    width: 100%;
    display: block;
    border-radius: 12px;
}

.resultPicture {
    position: relative;
    display: inline-block;
}

.secondPicture {
    transition: 0.5s all ease;
}

.mainPicture img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s all ease;
}

.resultPicture:hover {
    .mainPicture img {
        opacity: 100;
        box-shadow: 0px 5px 0 $secondaryColor, 0px 10px 0 $secondaryTextColor;
    }   
    .secondPicture {
        opacity: 0;
    }
}
