html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: #424B54;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #424B54;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 0.7px;
  line-height: 30px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #424B54;
  margin: 0;
}

label {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  line-height: 30px;
  color: #F7EDF0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #424B54;
}

button,
.button {
  cursor: pointer;
  color: #F7EDF0;
  font-weight: 600;
  border: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin: 30px 0;
  border-radius: 12px;
}

header {
  background-color: #F7EDF0;
  text-align: center;
  padding: 40px 0;
  min-height: 100vh;
}

h1 {
  margin: 0 auto;
  font-size: 2.7rem;
}

h1 span {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 8rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: block;
  word-wrap: break-word;
  color: #C3DFE0;
  text-shadow: 7px 5px 0 #F4AFAB, 14px 9px 0 #F4CBC6;
}

h1 span:hover {
  color: #424B54;
  text-shadow: -7px 5px 0 #F4AFAB, -14px 9px 0 #F4CBC6;
}

.questionMark {
  width: 20%;
  margin: 10px auto;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -8px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  color: #C3DFE0;
  text-shadow: 4px 3px 0 #424B54;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: rotation 6s infinite linear;
          animation: rotation 6s infinite linear;
}

.questionMark:hover {
  text-shadow: -4px -3px 0 #424B54;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.mainButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}

.mainButtons .takeQuiz {
  margin: 0 auto;
  font-size: 2rem;
  width: 50%;
  background-color: #424B54;
  padding: 10px 5px;
}

.mainButtons .takeToInfo {
  margin: 30px auto 0px auto;
  font-size: 1.2rem;
  width: 45%;
  background-color: #F4AFAB;
  padding: 12px 5px;
}

main {
  background-color: #C3DFE0;
}

.animeInfo {
  padding: 80px 0;
  min-height: 100vh;
}

.animeInfo h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.animeInfo p {
  margin-top: 20px;
  letter-spacing: 0.7px;
  line-height: 30px;
}

.animeInfo button {
  border: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}

.animeInfo .takeQuiz {
  cursor: pointer;
  font-size: 1.5rem;
  color: #C3DFE0;
  font-weight: 400;
  width: 50%;
  background-color: #424B54;
  padding: 10px 5px;
  border-radius: 12px;
}

.quiz {
  background-color: #F4CBC6;
  padding: 80px 0;
}

.quiz h2 {
  font-size: 1.8rem;
}

.takeToResultBtn {
  color: black;
}

@media (max-width: 987px) {
  .secondQuestionContainer .questionImage, .fourthQuestionContainer .questionImage {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
